---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>bento</title>
    <link
      rel="preload"
      href="/PixelHackers.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/PolySans-Relax.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    position: relative;
    margin: 0;
    width: 100%;
    min-height: 100%;
    background-color: #fffae500;
  }

  /* Desktop only: center the content and clip overflow */
  @media screen and (min-width: 501px) {
    html,
    body {
      /*overflow: hidden;*/
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  /* Mobile: let the page scroll naturally */
  @media screen and (max-width: 500px) {
    html,
    body {
      overflow-y: auto;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;
    }
    body {
      padding-bottom: 8lh;
    }
  }

  body:hover {
    cursor: url(/./cursors/pointer.png), auto;
  }
</style>
